* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-1 {
    border: 1px solid #1cace3;
    border-radius: 4px;
    width: 30rem;
}

.container-2 {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 10px;
    justify-content: center;
}

.searchbar{
    display: flex;
    align-items: center;
}

input {
    display: inline;
    border: 0.5px solid rgba(220, 220, 220);
    padding: 0.5rem;
    outline: none;
    width: 80%;
}

button {
    background-color: #007bff ;
    color: white;
    outline: none;
    border: 0.5px solid #007bff;
    display: inline;
    padding: 0.5rem;
}

button:hover{
background-color: #0063cc;
border: 0.5px solid #0063cc;
}

button:active{
    color: black;
}

p,
b {
    padding: 0.5rem;
}
