<div class="page-container">
  <app-sidebar></app-sidebar>
  
  <div class="main">
    <app-header [pageTitle]="'Offers'"></app-header>
    
    <div class="content">
      <div class="section-header">
        <h2>Available Offers</h2>

      </div>

      <div class="offers-grid">
        <div class="offer-card" *ngFor="let offer of offers" [style.border-color]="offer.color">
          <div class="offer-header" [style.background-color]="offer.color">
            <h3>{{ offer.title }}</h3>
          </div>
          <div class="offer-body">
              CODE: <span>{{ offer.couponCode }}</span> 
        </div>
      </div>
    </div>
  </div>
</div>