<div class="page-container">
  <app-sidebar></app-sidebar>
  
  <div class="main">
    <app-header [pageTitle]="'Offers'"
    [searchQuery]="searchQuery"
    (searchChange)="searchQuery = $event; onSearchChange()"
    ></app-header>
    
    <div class="content">
      <div class="section-header">
        <h2>Available Offers</h2>
      </div>

      <div class="offers-grid">
        @for (offer of filteredOffers; track offer.couponCode) {
          <div class="offer-card" [style.border-color]="offer.color">
            <div class="offer-header" [style.background-color]="offer.color">
              <h3>{{ offer.title }}</h3>
            </div>
            <div class="offer-body">
              CODE: <span>{{ offer.couponCode }}</span>
            </div>
          </div>
        }
      </div>
       @if (filteredOffers.length === 0) {
          <div class="no-products">
            No products found for "{{ searchQuery }}"
          </div>
        }
    </div>
  </div>
</div>
