<div class="sidebar">
  <a routerLink="/dashboard" class="logo-link">
    <h3 class="logo">
      <span class="logo-pick">Pick</span> 
      <span class="logo-your">Your</span>
      <span class="logo-cloth">Cloth</span>
    </h3>
  </a>
  <nav>
    <ul>
      <li routerLinkActive="current-tab">
        <a routerLink="/dashboard">
          <i class='bx bx-grid-alt'></i> Dashboard
        </a>
      </li>
      <li routerLinkActive="current-tab">
        <a routerLink="/orders">
          <i class='bx bx-cart'></i> Orders
        </a>
      </li>
      <li routerLinkActive="current-tab">
        <a routerLink="/statistics">
          <i class='bx bx-pie-chart-alt'></i> Statistic
        </a>
      </li>
      <li routerLinkActive="current-tab">
        <a routerLink="/products">
          <i class='bx bx-package'></i> Product
        </a>
      </li>
      <li routerLinkActive="current-tab">
        <a routerLink="/stocks">
          <i class='bx bx-line-chart'></i> Stock
        </a>
      </li>
      <li routerLinkActive="current-tab">
        <a routerLink="/offers">
          <i class='bx bx-purchase-tag'></i> Offer
        </a>
      </li>
    </ul>
  </nav>
</div>